@use '../abstracts' as *;

.main-content {
  transition: margin-left 300ms;
  margin-left: 288px;
  @include pc-lg {
    margin-left: 80px;
  }
  @include pc-md {
    margin-left: 0;
  }
}

.main {
  margin-top: 3.75rem;
  padding: 2rem 1.5rem;
  background: $bg;
  min-height: calc(100vh - 90px - 26px);
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.footer {
  div {
    @include xs {
      justify-content: center !important;
    }
    p {
      font-weight: 500;
    }
  }
}
